name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    
    - name: Install system deps
      run: |
        sudo apt update
        sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libtinfo5 cmake libffi-dev libssl-dev
    
    - name: Cache
      uses: actions/cache@v4
      with:
        path: ~/.buildozer
        key: ${{ runner.os }}-buildozer-v1
    
    - name: Build
      run: |
        pip install buildozer
        buildozer android debug
    
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: waterpolo-apk
        path: bin/*.apk
